---
layout: page 
title: Profile
---
<div class="row">
  <div class="col">
<img class="rounded align-middle " src="/assets/pic.jpg" alt="">
  </div>
  <div class="col border">
<ul>
  {% assign profile = site.data.profile %}
  <li>{{ profile.name }}</li>
  <li>{{ profile.role }}</li>
  <li>{{ profile.school }}</li>
  <li>{{ profile.address }}</li>
  <li>Tel&nbsp;:&nbsp;{{ profile.tel }}</li>
  <li>Cell&nbsp;:&nbsp;{{ profile.phone }}</li>
  <li>Fax&nbsp;:&nbsp;{{ profile.fax }}</li>
  <li>E-mail&nbsp;:&nbsp;{{ profile.email }}</li>
</ul>
  </div>
  <div class="col-5 border">
<ul>
  {% assign profile = site.data.profile %}
  <li>{{ profile.name_e }}</li>
  <li>{{ profile.role_e }}</li>
  <li>{{ profile.school_e }}</li>
  <li>{{ profile.address_e}}</li>
  <li>Cell&nbsp;:&nbsp;{{ profile.phone_e }}, Tel&nbsp;:&nbsp;{{ profile.tel_e }}</li>
  <li>Fax&nbsp;:&nbsp;{{ profile.fax_e }}</li>
  <li>E-mail&nbsp;:&nbsp;{{ profile.email }}</li>
</ul>
  </div>
  </div>


<h3 id="edu">Education</h3>
<ul>
  {% for edu in site.data.profile.education %}
  <li>
    {{ edu.degree }}, {{ edu.major }}<br>
    {{ edu.school }}
  </li>
  {% endfor %}
</ul>

<h3 id="workexp">Working Experience</h3>
<ul>
  {% for work in site.data.profile.work %}
  <li>
    {{ work.role }}<br>
    {{ work.company }}<br>
    {{ work.start }} ~ {{ work.end }}
  </li>
  {% endfor %}
</ul>
<div id="course">
</div>

<h3>Teaching Courses</h3>
<ul>
  {% for course in site.data.course %}
    {% if course.link == "" %}
      <li>{{ course.code }}&nbsp;:&nbsp;{{ course.name }}</li>
    {% else %}
      <li><a href="{{ course.link }}">{{ course.code }}</a>&nbsp;:&nbsp;{{ course.name }}</li>
    {% endif %}
  {% endfor %}
</ul>

<h3 id="tint">Teaching Intersets</h3>
<ul>
  {% for inter in site.data.interest.teach %}
  <li>{{ inter.topic }}</li>
  {% endfor %}
</ul>

<h3 id="rint">Research Intersets</h3>
<ul>
  {% for inter in site.data.interest.research %}
  <li>{{ inter.topic }}</li>
  {% endfor %}
</ul>

{% assign now_year = site.time | date: '%Y' | minus: 10 %}
<h3 id="pub">Publications</h3>
  <h5>Papers (Recent 10 years)</h5>
    <h6>Journal papers</h6>
    <ul>
      {% for paper in site.data.paper.journal %}
      {% if paper.year >= now_year %}
        {% if paper.link == "" and paper.clink != "" and paper.slink == "" %}

              {% if paper.wlink != "" %}
              <li><a href="{{ paper.wlink }}" target="_blank">{{ paper.topic }}</a>(<a href="/assets/{{ paper.clink }}" target="_blank">code</a>)</li>
              {% else %}
              <li>{{ paper.topic }}(<a href="/assets/{{ paper.clink }}" target="_blank">code</a>)</li>
              {% endif %}

        {% elsif paper.link != "" and paper.clink == "" and paper.slink == ""%}
              {% if paper.wlink != "" %}
              <li><a href="{{ paper.wlink }}" target="_blank">{{ paper.topic }}</a>(<a href="/assets/{{ paper.link }}" target="_blank">paper</a>)</li>
              {% else %}
            <li>{{ paper.topic }}(<a href="/assets/{{ paper.link }}" target="_blank">paper</a>)</li>
              {% endif %}
        {% elsif paper.link != "" and paper.clink != "" and paper.slink == ""%}
              {% if paper.wlink != "" %}
              <li><a href="{{ paper.wlink }}" target="_blank">{{ paper.topic }}111111</a>(<a href="/assets/{{ paper.link }}" target="_blank">paper</a>)(<a href="/assets/{{ paper.clink }}" target="_blank">code</a>)</li>
              {% else %}
            <li>{{ paper.topic }}(<a href="/assets/{{ paper.link }}" target="_blank">paper</a>)(<a href="/assets/{{ paper.clink }}" target="_blank">code</a>)</li>
              {% endif %}
        {% elsif paper.slink != "" and paper.clink == ""%}
              {% if paper.wlink != "" %}
              <li><a href="{{ paper.wlink }}" target="_blank">{{ paper.topic }}</a>(<a href="/assets/{{ paper.link }}" target="_blank">paper</a>)(<a href="/assets/{{ paper.slink }}" target="_blank">supplement</a>)</li>
              {% else %}
            <li>{{ paper.topic }}(<a href="/assets/{{ paper.link }}" target="_blank">paper</a>)(<a href="/assets/{{ paper.slink }}" target="_blank">supplement</a>)</li>
              {% endif %}
        {% elsif paper.slink != "" and paper.clink != ""%}
              {% if paper.wlink != "" %}
              <li><a href="{{ paper.wlink }}" target="_blank">{{ paper.topic }}</a>(<a href="/assets/{{ paper.link }}" target="_blank">paper</a>)(<a href="/assets/{{ paper.slink }}" target="_blank">supplement</a>)(<a href="/assets/{{ paper.clink }}" target="_blank">code</a>)</li>
              {% else %}
            <li>{{ paper.topic }}(<a href="/assets/{{ paper.link }}" target="_blank">paper</a>)(<a href="/assets/{{ paper.slink }}" target="_blank">supplement</a>)(<a href="/assets/{{ paper.clink }}" target="_blank">code</a>)</li>
              {% endif %}
        {% else %}
            <li>{{ paper.topic }}</li>
      {% endif %}
      {% endif %}
      {% endfor %}
    </ul>
    <h6>Procedding papers</h6>
    <ul>
      {% for paper in site.data.paper.proceed %}
      {% if paper.year >= now_year %}
        {% if paper.link == "" and paper.clink != "" and paper.slink == "" %}
              {% if paper.wlink != "" %}
              <li><a href="{{ paper.wlink }}" target="_blank">{{ paper.topic }}</a>(<a href="/assets/{{ paper.clink }}" target="_blank">code</a>)
              {% else %}
              <li>{{ paper.topic }}(<a href="/assets/{{ paper.clink }}" target="_blank">code</a>)
              {% endif %}
        {% elsif paper.link != "" and paper.clink == "" and paper.slink == ""%}
              {% if paper.wlink != "" %}
              <li><a href="{{ paper.wlink }}" target="_blank">{{ paper.topic }}</a>(<a href="/assets/{{ paper.link }}" target="_blank">paper</a>)
              {% else %}
            <li>{{ paper.topic }}(<a href="/assets/{{ paper.link }}" target="_blank">paper</a>)
              {% endif %}
        {% elsif paper.link != "" and paper.clink != "" and paper.slink == ""%}
              {% if paper.wlink != "" %}
              <li><a href="{{ paper.wlink }}" target="_blank">{{ paper.topic }}</a>(<a href="/assets/{{ paper.link }}" target="_blank">paper</a>)(<a href="/assets/{{ paper.clink }}" target="_blank">code</a>)
              {% else %}
            <li>{{ paper.topic }}(<a href="/assets/{{ paper.link }}" target="_blank">paper</a>)(<a href="/assets/{{ paper.clink }}" target="_blank">code</a>)
              {% endif %}
        {% elsif paper.slink != "" and paper.clink == ""%}
              {% if paper.wlink != "" %}
              <li><a href="{{ paper.wlink }}" target="_blank">{{ paper.topic }}</a>(<a href="/assets/{{ paper.link }}" target="_blank">paper</a>)(<a href="/assets/{{ paper.slink }}" target="_blank">supplement</a>)
              {% else %}
            <li>{{ paper.topic }}(<a href="/assets/{{ paper.link }}" target="_blank">paper</a>)(<a href="/assets/{{ paper.slink }}" target="_blank">supplement</a>)
              {% endif %}
        {% elsif paper.slink != "" and paper.clink != ""%}
              {% if paper.wlink != "" %}
              <li><a href="{{ paper.wlink }}" target="_blank">{{ paper.topic }}</a>(<a href="/assets/{{ paper.link }}" target="_blank">paper</a>)(<a href="/assets/{{ paper.slink }}" target="_blank">supplement</a>)(<a href="/assets/{{ paper.clink }}" target="_blank">code</a>)
              {% else %}
            <li>{{ paper.topic }}(<a href="/assets/{{ paper.link }}" target="_blank">paper</a>)(<a href="/assets/{{ paper.slink }}" target="_blank">supplement</a>)(<a href="/assets/{{ paper.clink }}" target="_blank">code</a>)
              {% endif %}
        {% else %}
            <li>{{ paper.topic }}</li>
      {% endif %}
      {% endif %}
      {% endfor %}
    </ul>
  <h5>Other papers</h5>
    <h6>Journal papers</h6>
    <ul>
      {% for paper in site.data.paper.journal %}
      {% if paper.year < now_year %}
        {% if paper.link == "" and paper.clink != "" and paper.slink == "" %}
              {% if paper.wlink != "" %}
              <li><a href="{{ paper.wlink }}" target="_blank">{{ paper.topic }}</a>(<a href="/assets/{{ paper.clink }}" target="_blank">code</a>)
              {% else %}
              <li>{{ paper.topic }}(<a href="/assets/{{ paper.clink }}" target="_blank">code</a>)
              {% endif %}
        {% elsif paper.link != "" and paper.clink == "" and paper.slink == ""%}
              {% if paper.wlink != "" %}
              <li><a href="{{ paper.wlink }}" target="_blank">{{ paper.topic }}</a>(<a href="/assets/{{ paper.link }}" target="_blank">paper</a>)
              {% else %}
            <li>{{ paper.topic }}(<a href="/assets/{{ paper.link }}" target="_blank">paper</a>)
              {% endif %}
        {% elsif paper.link != "" and paper.clink != "" and paper.slink == ""%}
              {% if paper.wlink != "" %}
              <li><a href="{{ paper.wlink }}" target="_blank">{{ paper.topic }}</a>(<a href="/assets/{{ paper.link }}" target="_blank">paper</a>)(<a href="/assets/{{ paper.clink }}" target="_blank">code</a>)
              {% else %}
            <li>{{ paper.topic }}(<a href="/assets/{{ paper.link }}" target="_blank">paper</a>)(<a href="/assets/{{ paper.clink }}" target="_blank">code</a>)
              {% endif %}
        {% elsif paper.slink != "" and paper.clink == ""%}
              {% if paper.wlink != "" %}
              <li><a href="{{ paper.wlink }}" target="_blank">{{ paper.topic }}</a>(<a href="/assets/{{ paper.link }}" target="_blank">paper</a>)(<a href="/assets/{{ paper.slink }}" target="_blank">supplement</a>)
              {% else %}
            <li>{{ paper.topic }}(<a href="/assets/{{ paper.link }}" target="_blank">paper</a>)(<a href="/assets/{{ paper.slink }}" target="_blank">supplement</a>)
              {% endif %}
        {% elsif paper.slink != "" and paper.clink != ""%}
              {% if paper.wlink != "" %}
              <li><a href="{{ paper.wlink }}" target="_blank">{{ paper.topic }}</a>(<a href="/assets/{{ paper.link }}" target="_blank">paper</a>)(<a href="/assets/{{ paper.slink }}" target="_blank">supplement</a>)(<a href="/assets/{{ paper.clink }}" target="_blank">code</a>)
              {% else %}
            <li>{{ paper.topic }}(<a href="/assets/{{ paper.link }}" target="_blank">paper</a>)(<a href="/assets/{{ paper.slink }}" target="_blank">supplement</a>)(<a href="/assets/{{ paper.clink }}" target="_blank">code</a>)
              {% endif %}
       {% else %}
            <li>{{ paper.topic }}</li>
      {% endif %}
               {% endif %}
               {% endfor %}
    </ul>
    <h6>Procedding papers</h6>
    <ul>
      {% for paper in site.data.paper.proceed %}
      {% if paper.year < now_year %}
        {% if paper.link == "" and paper.clink != "" and paper.slink == "" %}
              {% if paper.wlink != "" %}
              <li><a href="{{ paper.wlink }}" target="_blank">{{ paper.topic }}</a>(<a href="/assets/{{ paper.clink }}" target="_blank">code</a>)
              {% else %}
              <li>{{ paper.topic }}(<a href="/assets/{{ paper.clink }}" target="_blank">code</a>)
              {% endif %}
        {% elsif paper.link != "" and paper.clink == "" and paper.slink == ""%}
              {% if paper.wlink != "" %}
              <li><a href="{{ paper.wlink }}" target="_blank">{{ paper.topic }}</a>(<a href="/assets/{{ paper.link }}" target="_blank">paper</a>)
              {% else %}
            <li>{{ paper.topic }}(<a href="/assets/{{ paper.link }}" target="_blank">paper</a>)
              {% endif %}
        {% elsif paper.link != "" and paper.clink != "" and paper.slink == ""%}
              {% if paper.wlink != "" %}
              <li><a href="{{ paper.wlink }}" target="_blank">{{ paper.topic }}</a>(<a href="/assets/{{ paper.link }}" target="_blank">paper</a>)(<a href="/assets/{{ paper.clink }}" target="_blank">code</a>)
              {% else %}
            <li>{{ paper.topic }}(<a href="/assets/{{ paper.link }}" target="_blank">paper</a>)(<a href="/assets/{{ paper.clink }}" target="_blank">code</a>)
              {% endif %}
        {% elsif paper.slink != "" and paper.clink == ""%}
              {% if paper.wlink != "" %}
              <li><a href="{{ paper.wlink }}" target="_blank">{{ paper.topic }}</a>(<a href="/assets/{{ paper.link }}" target="_blank">paper</a>)(<a href="/assets/{{ paper.slink }}" target="_blank">supplement</a>)
              {% else %}
            <li>{{ paper.topic }}(<a href="/assets/{{ paper.link }}" target="_blank">paper</a>)(<a href="/assets/{{ paper.slink }}" target="_blank">supplement</a>)
              {% endif %}
        {% elsif paper.slink != "" and paper.clink != ""%}
              {% if paper.wlink != "" %}
              <li><a href="{{ paper.wlink }}" target="_blank">{{ paper.topic }}</a>(<a href="/assets/{{ paper.link }}" target="_blank">paper</a>)(<a href="/assets/{{ paper.slink }}" target="_blank">supplement</a>)(<a href="/assets/{{ paper.clink }}" target="_blank">code</a>)
              {% else %}
            <li>{{ paper.topic }}(<a href="/assets/{{ paper.link }}" target="_blank">paper</a>)(<a href="/assets/{{ paper.slink }}" target="_blank">supplement</a>)(<a href="/assets/{{ paper.clink }}" target="_blank">code</a>)
              {% endif %}
        {% else %}
            <li>{{ paper.topic }}</li>
      {% endif %}
                      {% endif %}
                      {% endfor %}
    </ul>

<h3 id="proj">Projects</h3>
<table class="table table-bordered" style="width:100%;font-size:14px">
  <tr>
    <th>計畫名稱</th>
    <th>計畫名稱</th>
    <th>補助機關</th>
    <th>期間</th>
  </tr>
  {% for project in site.data.projects %}
  <tr>
    <td style="width:50%" >{{ project.name }}</td>
    <td style="width:auto">{{ project.role }}</td>
    <td style="width:20%" >{{ project.sup}}</td>
    <td style="width:auto">{{ project.times }}</td>
  </tr>
  {% endfor %}
</table>
<table class="table table-bordered" style="width:100%;font-size:14px">
  <tr>
    <th class="text-center" colspan="4">大專學生參與專題研究計畫</th>
  </tr>
  <tr>
    <th>計畫名稱</th>
    <th>計畫名稱</th>
    <th>補助機關</th>
    <th>期間</th>
  </tr>
  {% for project in site.data.stu_project %}
  <tr>
    <td style="width:50%">{{ project.name }}</td>
    <td style="width:auto">{{ project.role }}</td>
    <td style="width:20%">{{ project.sup}}</td>
    <td style="width:auto">{{ project.times }}</td>
  </tr>
  {% endfor %}
</table>

<style>
ul { padding-left: 1.2em; }
</style>
