<nav class="navbar navbar-expand-sm fixed-top navbar-dark bg-dark">
  <div class="navbar-nav mx-auto mt-2 mt-lg-0">
    <a class="nav-item nav-link" href="#">Profile</a>
    <a class="nav-item nav-link" href="#course">Teaching</a>
    <a class="nav-item nav-link" href="#rint">Research</a>
    <a class="nav-item nav-link" href="#pub">Publications</a>
    <a class="nav-item nav-link" href="#proj">Project</a>
  </div>
</nav>
<style>
#course:before{
  padding-top:60px;display:block;content:"";
}
#rint:before{
  padding-top:60px;display:block;content:"";
}
#pub:before{
  padding-top:60px;display:block;content:"";
}
#proj:before{
  padding-top:60px;display:block;content:"";
}
</style>
