<div class="sidebar">
  <div class="container">
    <div class="sidebar-about">
      <img src="/public/pic.jpg" alt="" width="50%">
      <h2>
        <a href="/">
          {{ site.title }}
        </a>
      </h2>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == "/contact" %} active{% endif %}" href="/contact">Contact</a>
      <a class="sidebar-nav-item{% if page.url == "/" %} active{% endif %}" href="/">Profile</a>
      <a class="sidebar-nav-item{% if page.url == "/teaching" %} active{% endif %}" href="/teaching">Teaching</a>
      <a class="sidebar-nav-item{% if page.url == "/research" %} active{% endif %}" href="/research">Research</a>
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
